flow.json
[
  {
    "id": "f7d5a2f0a5a46543",
    "type": "tab",
    "label": "Final Shelly",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "mqtt_in_status",
    "type": "mqtt in",
    "z": "f7d5a2f0a5a46543",
    "name": "Plug Status",
    "topic": "shelly/status/switch:0",
    "qos": "2",
    "datatype": "json",
    "broker": "59fee610b03e827e",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 110,
    "y": 120,
    "wires": [["process_status", "6bbbc46ef5d8446a"]]
  },
  {
    "id": "process_status",
    "type": "function",
    "z": "f7d5a2f0a5a46543",
    "name": "Process Status",
    "func": "let status = msg.payload.output;\nconsole.log(status)\nif (status === true) {\n    msg.payload = true;  // Turn switch ON in UI\n} else if (status === false) {\n    msg.payload = false;  // Turn switch OFF in UI\n}\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 120,
    "wires": [["ui_switch"]]
  },
  {
    "id": "control_plug",
    "type": "function",
    "z": "f7d5a2f0a5a46543",
    "name": "Control Plug",
    "func": "if (msg.payload === true) {\n    msg.payload = { \n    \"id\": 1, \n    \"src\": \"user\", \n    \"method\": \"Switch.Set\", \n    \"params\": \n        { \n            \"id\": 0, \n            \"on\": true \n        }\n    }\n} else {\n    msg.payload = { \n    \"id\": 1, \n    \"src\": \"user\", \n    \"method\": \"Switch.Set\", \n    \"params\": \n        { \n            \"id\": 0, \n            \"on\": false \n        }\n    }\n}\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 710,
    "y": 120,
    "wires": [["mqtt_out", "7e813c0bd0f255ee"]]
  },
  {
    "id": "mqtt_out",
    "type": "mqtt out",
    "z": "f7d5a2f0a5a46543",
    "name": "Control Plug",
    "topic": "shelly/rpc",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "59fee610b03e827e",
    "x": 950,
    "y": 200,
    "wires": []
  },
  {
    "id": "6bbbc46ef5d8446a",
    "type": "debug",
    "z": "f7d5a2f0a5a46543",
    "name": "debug 23",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 310,
    "y": 60,
    "wires": []
  },
  {
    "id": "171176e8962c75f5",
    "type": "debug",
    "z": "f7d5a2f0a5a46543",
    "name": "debug 24",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 40,
    "wires": []
  },
  {
    "id": "786ba7bb85a946ce",
    "type": "ui_date_picker",
    "z": "f7d5a2f0a5a46543",
    "name": "On Date",
    "label": "Valitse käynnistyspäivä",
    "group": "54450f33923a6ce5",
    "order": 2,
    "width": "0",
    "height": "0",
    "passthru": true,
    "topic": "",
    "topicType": "str",
    "x": 100,
    "y": 270,
    "wires": [["9943ee9065b80f47"]]
  },
  {
    "id": "f917b0b9553ac4a8",
    "type": "ui_text_input",
    "z": "f7d5a2f0a5a46543",
    "name": "On Time",
    "label": "Valitse käynnistysaika (muodossa TT:MM)",
    "tooltip": "",
    "group": "54450f33923a6ce5",
    "order": 3,
    "width": "0",
    "height": "0",
    "passthru": true,
    "delay": "",
    "topic": "",
    "topicType": "str",
    "x": 300,
    "y": 270,
    "wires": [["020d4723aaf0fcd9"]]
  },
  {
    "id": "9943ee9065b80f47",
    "type": "change",
    "z": "f7d5a2f0a5a46543",
    "name": "Store On Date",
    "rules": [
      {
        "t": "set",
        "p": "on_date",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "x": 300,
    "y": 320,
    "wires": [[]]
  },
  {
    "id": "020d4723aaf0fcd9",
    "type": "change",
    "z": "f7d5a2f0a5a46543",
    "name": "Store On Time",
    "rules": [
      {
        "t": "set",
        "p": "on_time",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "x": 500,
    "y": 320,
    "wires": [[]]
  },
  {
    "id": "9e6df8e4bdf9165d",
    "type": "function",
    "z": "f7d5a2f0a5a46543",
    "name": "Combine Date/Time",
    "func": "let onDate = flow.get('on_date') || null;\nlet onTime = flow.get('on_time') || null;\nlet offDate = flow.get('off_date') || null;\nlet offTime = flow.get('off_time') || null;\n\nif (!onDate || !onTime || !offDate || !offTime) {\n    node.error(\"Date or time is missing\", msg);\n    return null;\n}\n\nlet cronJobs = [];\n\nif (onDate && onTime) {\n    let onDateObj = new Date(onDate);\n    let onMonth = onDateObj.getMonth() + 1;\n    let onDay = onDateObj.getDate();\n    let onTimeParts = onTime.split(\":\");\n    let onHour = onTimeParts[0];\n    let onMinute = onTimeParts[1];\n\n    let onCronExpression = `${onMinute} ${onHour} ${onDay} ${onMonth} *`;\n    cronJobs.push({\n        command: \"add\",\n        name: \"turn_on\",\n        expression: onCronExpression,\n        topic: \"shelly/rpc\",\n        payload: JSON.stringify({\n            id: 1,\n            src: \"user\",\n            method: \"Switch.Set\",\n            params: { id: 0, on: true }\n        })\n    });\n}\n\nif (offDate && offTime) {\n    let offDateObj = new Date(offDate);\n    let offMonth = offDateObj.getMonth() + 1;\n    let offDay = offDateObj.getDate();\n    let offTimeParts = offTime.split(\":\");\n    let offHour = offTimeParts[0];\n    let offMinute = offTimeParts[1];\n\n    let offCronExpression = `${offMinute} ${offHour} ${offDay} ${offMonth} *`;\n    cronJobs.push({\n        command: \"add\",\n        name: \"turn_off\",\n        expression: offCronExpression,\n        topic: \"shelly/rpc\",\n        payload: JSON.stringify({\n            id: 1,\n            src: \"user\",\n            method: \"Switch.Set\",\n            params: { id: 0, on: false }\n        })\n    });\n}\n\nmsg.payload = cronJobs;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 400,
    "wires": [["4b27c647c6ac94fb"]]
  },
  {
    "id": "4b27c647c6ac94fb",
    "type": "cronplus",
    "z": "f7d5a2f0a5a46543",
    "name": "Cron Schedule",
    "outputField": "payload",
    "timeZone": "",
    "storeName": "file",
    "commandResponseMsgOutput": "output1",
    "defaultLocation": "",
    "defaultLocationType": "default",
    "outputs": 1,
    "options": [],
    "x": 740,
    "y": 350,
    "wires": [["330fdbd99b7c6a37", "mqtt_out"]]
  },
  {
    "id": "330fdbd99b7c6a37",
    "type": "debug",
    "z": "f7d5a2f0a5a46543",
    "name": "debug 26",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 980,
    "y": 300,
    "wires": []
  },
  {
    "id": "7e813c0bd0f255ee",
    "type": "debug",
    "z": "f7d5a2f0a5a46543",
    "name": "debug 30",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 880,
    "y": 80,
    "wires": []
  },
  {
    "id": "39bcce58ae3c1aa3",
    "type": "ui_date_picker",
    "z": "f7d5a2f0a5a46543",
    "name": "Off Date",
    "label": "Valitse sammutuspäivä",
    "group": "54450f33923a6ce5",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "topic": "",
    "topicType": "str",
    "x": 100,
    "y": 480,
    "wires": [["f0c8cead588fcfa4"]]
  },
  {
    "id": "3519459e8a549b5c",
    "type": "ui_text_input",
    "z": "f7d5a2f0a5a46543",
    "name": "Off Time",
    "label": "Valitse sammutusaika (muodossa TT:MM)",
    "tooltip": "",
    "group": "54450f33923a6ce5",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": true,
    "delay": "",
    "topic": "",
    "topicType": "str",
    "x": 300,
    "y": 480,
    "wires": [["1ffe4e728d7ed8e7"]]
  },
  {
    "id": "f0c8cead588fcfa4",
    "type": "change",
    "z": "f7d5a2f0a5a46543",
    "name": "Store Off Date",
    "rules": [
      {
        "t": "set",
        "p": "off_date",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "x": 300,
    "y": 530,
    "wires": [[]]
  },
  {
    "id": "1ffe4e728d7ed8e7",
    "type": "change",
    "z": "f7d5a2f0a5a46543",
    "name": "Store Off Time",
    "rules": [
      {
        "t": "set",
        "p": "off_time",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "x": 500,
    "y": 530,
    "wires": [[]]
  },
  {
    "id": "ui_switch",
    "type": "ui_switch",
    "z": "f7d5a2f0a5a46543",
    "name": "Plug Switch",
    "label": "Päälle/pois päältä",
    "tooltip": "",
    "group": "54450f33923a6ce5",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "topicType": "str",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": true,
    "x": 510,
    "y": 120,
    "wires": [["control_plug", "171176e8962c75f5"]]
  },
  {
    "id": "2ccc14aad10c5526",
    "type": "ui_button",
    "z": "f7d5a2f0a5a46543",
    "name": "Submit On Schedule",
    "group": "54450f33923a6ce5",
    "order": 4,
    "width": "",
    "height": "",
    "passthru": false,
    "label": "Tallenna ajastus",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "x": 200,
    "y": 400,
    "wires": [["9e6df8e4bdf9165d"]]
  },
  {
    "id": "59fee610b03e827e",
    "type": "mqtt-broker",
    "name": "MQTT broker",
    "broker": "192.168.1.100",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "54450f33923a6ce5",
    "type": "ui_group",
    "name": "ShellyPlug",
    "tab": "e3ccd5f31007b619",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "e3ccd5f31007b619",
    "type": "ui_tab",
    "name": "Shelly",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
